a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.25s;
}
.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.1);
}
.sl-wrapper.simple-lightbox > .sl-counter,
.sl-wrapper.simple-lightbox .sl-navigation button,
.sl-wrapper.simple-lightbox .sl-close {
  color: #fff !important;
}

.sl-wrapper.simple-lightbox {
  background-color: #2e2f42cc !important;
}
